.top-page-header{
  min-width: 980px;
  min-height: 65px;
  background: #99ccff;
}
.header .header-section{
  margin: 0 auto;
  width: 980px;
  display: flex;
}
.header-section{
  margin: 0 15px;
  padding: 15px 0 0;
}
.salone-icon{
  width: 10vw;
  margin-right: 5vw;
  margin-left: 10px;
} 
.btn_area{
  width: 100%;
}
.shop_name_wrap{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
}
.shop_area{
  border: 1px solid white;
  background-color: white;
  color: plum;
  margin: 0 5px 15px 0;
}
.shop_name{
  color: white;
}
.btn-all{
  display: flex;
  height: calc(100% - 10vh);
  list-style: none;
  position: relative;
}
.management{
 font-size: 20px;
 border: 1px solid skyblue;
 padding: 7px 17px;
 position: absolute;
 top: 7px;
 background-color: skyblue;
 color: white;
}
.user-management{
  font-size: 20px;
  position: absolute;
  left: 130px;
  top: 7px;
  padding: 7px;
  border: 1px solid skyblue;
  background-color: skyblue;
  color: white;
}
.btn-bottom{
  min-width: 980px;
  min-height: 39px;
  background-color: lightgray;
}
.section-bottom{
  width: 980px;
  margin: 0 15px;
  padding: 5px 0;
}
.btn-colimn{
  width: 980px;
  height: 29px;
}
.column-all{
  display: flex;
}
.schedule{
  border: 1px solid skyblue;
  padding: 5px 10px;
  background-color:skyblue;
  color: white;
  margin-right: 5px;
}
.reservation-list{
  border: 1px solid skyblue;
  padding: 5px 25px;
  background-color: skyblue;
  color: white;
  margin-right: 5px;
}
a{
  text-decoration: none;
}


