<%= render "shared/header" %>
<div class="contents">
　<div class="section">
   <div class="section-top">
   <%# <div class="table" >
   <table class="table1">
   <thead>
     <tr>
      <th class="table_head">予約日時</th>
      <th class="table_head">10:00</th>
      <th class="table_head">11:00</th>
      <th class="table_head">12:00</th>
      <th class="table_head">13:00</th>
      <th class="table_head">14:00</th>
      <th class="table_head">15:00</th>
      <th class="table_head">16:00</th>
      <th class="table_head">17:00</th>
      <th class="table_head">18:00</th>
      <th class="table_head">19:00</th>
      <th class="table_head">20:00</th>
     </tr>
   </thead>
 </table>
 <table class="table2">
  <thead>
    <tr>
      <th class="table_bodytop"> 予約数 </th>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body">3</td>
      <td class="table_body">3</td><td class="table_body1">3</td>
    </tr>
 　　<tr><th class="table_bodytop"> <% %></th>
    <%# <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td><td class="table_body">4</td>
    <td class="table_body">4</td class="table_body"><td>4</td>
 </table> %>
  </div>
  </div>
</div>

